html,body,h1,h2,h3,h4,h5,h6,p,a,div,section,header,footer,ul,ol,li,table,th,tr,tbody,button,input,textarea,img,i,span,em,strong,b{
    margin: 0;
    padding: 0;
}
ul,ol,li{
    list-style: none;
}
a{
    color: #000;
    text-decoration: none;
}
img{
    border: none;
    outline: none;
}
